

 

.asdf{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cartDiv{
    
    width: 80%;
    min-height: 600px;

}
#cartContainer{
    width: 100%;
    height: 100%;


}

#cartContainer .row div:nth-child(1){

    text-align: left;
}
#cartContainer .row div:nth-child(2){

    text-align: center;
}
#cartContainer .row div:nth-child(3){

    text-align: center;
}
#cartContainer .row div:nth-child(4){

    text-align: end;
}

/* dsf */
#insideCart{
    border-top: 1px solid #6d3200;
    border-bottom: 1px solid #6d3200;
    /* background-color: red; */
    min-height: 132px;
}
#insideCart div p{
    padding-left: 40px;
    font-size: 2rem;
}
#insideCart div:nth-child(1){

    text-align: left;
}
#insideCart div:nth-child(2){

    text-align: center;
}
#insideCart div:nth-child(3){

    text-align: center;
}
#insideCart div:nth-child(4){

    text-align: end;
}
#cartImage{
    max-width: 70px;
}
#deleteCart{
    margin-left: 33px;
    /* max-width: 110px; */
    height: 23px;
    cursor: pointer;
    background-color: #eec07b;
}

/* CART TOTAL VALUE DISPLAY */  
#cartBottomPanel{
    position: fixed;
    bottom: 0;
    
  background-color: red;
    width: 100%;
    height: 50px;
    font-size: 2rem;

}
.valueDisplay{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding-left: 9%;padding-right: 9%;
    height: 100%;
  
    background-color: #eec07b;   
}
.checkOut{
    margin-top: 7px;
    color: 	#eec07b;
    background-color: #422308;
    transition: .5s;
}
.checkOut:hover{
    color: 	#422308;
    background-color: 	#f0d1a0;
    transform: scale(1.1);
    font-size: 1.5rem;
    font-weight: bolder;
}




#extraSpace{
    height: 200px;
}






.howMany{
    text-align: center;
    width: 32px;
    height: 23px;
    font-size: 15px;
}









































