/* FOR DESKTOP */
@media (min-width: 992px) {

    #indexBannerBody{
        background-image: url(../Img/shop_banner/index_banner.png);
      /*   background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 530px;
        background-clip: padding-box;
        padding: 9%; */


    }
   
}
/* FOR TABLET */
@media (max-width: 994px) {
    #indexBannerBody{
        background-image: url(../Img/shop_banner/max_992.png);
    }
}

@media(max-width: 1280px){
    .bContainer{
        gap: 23px;
    }
    #bItem6{
        display: none;
    }
}
@media(max-width: 1138px){
    .bContainer{
        gap: 30px;
    }
    #bItem5{
        display: none;
    }
    #bItem6{
        display: none;
    }
}
@media (max-width: 1108px){ 
    #cartHoverMain{
        top: 74px;
        right: 30px;
    }
}
@media (max-width: 991px){
    #shopHead{
        margin-bottom: 350px;
    }
    #bItem3{
        display: none;
    }
}
@media (max-width: 786px){
    .bContainer{
        gap: 49px;
    }
    #bItem2{
        display: none;
    }
    #bItem3{
        display: none;
    }
    #bItem4{
        display: none;
    }
    #myCarousel .carousel-item{height:900px; }
}
@media (max-width: 700px){

    #cartImage{
        display: none;
        margin-left: 0px;
    }
}
@media (max-width: 643px){
    .bContainer{
        gap: 49px;
    }
    #bItem3{
        display: none;
    }
    #bItem4{
        display: none;
    }
    #bItem5{
        display: none;
    }
    #bItem6{
        display: none;
    }
    #indexBannerBody h1{
        color: pink;
    } #cartImage{
        display: none;
        
    }
    #insideCart div h2{
        font-size: 20pxpx;
    }
    #cartPlusMinusCon{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cartPlusMinusCon div button{
        display: none;
    }
    .cartInput{
        width: 25px;
    }
    .valueDisplay p{
        font-size: 20px;
    }
}
@media (max-width: 605px){
    #indexBannerBody h1{
        text-align: center;
    }
    #insideCart div p{
        font-size: 13px;
    }                       /* CART ITEMS */
    #insideCart div h2{
        font-size: 10px;
    }
    #insideCart div p{
        font-size: 10px;
        font-weight: bolder;
    }
    #insideCart input{
        width: 19px;
        height: 19px;
    }
    #insideCart div img{
        width: 13px;
        height: 13px;
    }                       /* CART ITEMS END */
}
@media (max-width: 459px){
                            /* CART ITEMS */
    /* #insideCart div h2{
        font-size: 2px;
    
    }
    #insideCart div p{
        font-size: 7px;
        font-weight: bolder;
    }
    #insideCart input{
        width: 19px;
        height: 19px;
        
    }
    #insideCart div img{
        width: 13px;
        height: 13px;
    }         */               /* CART ITEMS END */
}
@media (max-width: 512px){
    #shopHeadContainer{
        margin-bottom: 600px;
    }
}
@media (max-width: 459px){
    .bContainer{
        gap: 20px;
    }
    #bItem3{
        display: none;
    }
    #bItem4{
        display: none;
    }
    #bItem5{
        display: none;
    }
    #bItem6{
        display: none;
    }
    #indexBannerBody h1{
        text-align: center;
    }
    #cartImage{
        display: none;
    }
    #insideCart div h2{
        font-size: 7px;
    }

    #cartPlusMinusCon input{
        display: none;
    }
    .cartInput{
        width: 25px;
    }
    .valueDisplay p{
        font-size: 14px;
    }
}

@media (max-width: 390px){
    .bContainer{
        gap: 3px;
    }
    #bItem3{
        display: none;
    }
    #bItem4{
        display: none;
    }
    #bItem5{
        display: none;
    }
    #bItem6{
        display: none;
    }
    .header .logo{
        font-size: 20px;
    }
    .navbarMain{
        top: 60px;
    }
}
@media (max-width: 360px){
    #bItem2{
        display: none;
    }
    #bItem3{
        display: none;
    }
    #bItem4{
        display: none;
    }
    #bItem5{
        display: none;
    }
    #bItem6{
        display: none;
    }
    .header .logo{
        font-size: 20px;
    }
    .navbarMain{
        top: 60px;
    }

}




