:root{
    --bgColor: #eec07b;
    --textColor: 	#422308;
}



#starRatingButton{
    color: var(--textColor);
    background-color: var(--bgColor);
}
#addCartButton{
    color: var(--textColor);
    background-color: var(--bgColor);
}   
#contentButton{
    color: var(--textColor);
    background-color: var(--bgColor);
}
#addCartButton:hover{
    color: var(--bgColor);
    background-color: var(--textColor);
}
#starRatingButton:hover{
    color: var(--bgColor);
    background-color: var(--textColor);
}
#contentButton:hover{
    color: var(--bgColor);
    background-color: var(--textColor);
}
