.info-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.info-container .info{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    background-color: 	#f0d1a0;
}
.info-container .info:hover{
    background-color:#d8c4aa;
 
}

.info-container .info img{
    height: 100px;
}
.info-container .info .content h3{
    font-size: 20px;
    color: #222;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
 
}
/* .info-container .info .content h3:hover{
    color:#eec07b;
} */
.info-container .info .content span{
    font-size: 15px;
    color: #222;
}
