
.titleShop{
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-top: 170px;
    margin-bottom: 48px;
    padding: 19.2px 0;
    border-bottom: 1.6px solid rgba(0, 0, 0, 1.6px);
    color: #6d3200;
}


.heading .row div h4{
    color: 	#422308;
    font-size: 27px;
    /* text-shadow: 0 8px 16px rgba(0, 0, 0, 2); */
}
.heading .row div p{
    color: 	#6d3200;
    font-size: 17px;
    margin-top: 23px;
   /*  text-shadow: 0 8px 16px rgba(0, 0, 0, 2); */
}
.heading .row .hati{
    padding-bottom: 70px;
}



.products .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.products .box-container .box{
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.products .box-container .box:hover .icons{
    top: 0;
}
.products .box-container .box .icons{
    position: absolute;
    top: -105%;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 20px;
    text-decoration: none; 
}
.products .box-container .box .icons a{
    font-size: 25px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: #666;
    text-decoration: none;
}
.products .box-container .box .icons a:hover{
    background: var(--brown);
    color: #fff;
}
.products .box-container .box .img{
    height: 200px;     
    width: 100%;    
    overflow: hidden;
}
.products .box-container .box .img img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
.products .box-container .box .content{
    padding: 18px;
}
.products .box-container .box .content h3{
    font-size: 20px;
    color: #222;
}
.products .box-container .box .content .price{
    font-size: 20px;
    color: #222;
    padding: 12px 0;
}
.products .box-container .box .content .stars i{
    font-size: 15px;
    color: var(--brown);
}


#shopBannerButton{
    background-color: var(--fourthColor);
}